In [ ]:

tuple1 = (1, 2, 3)
tuple2 = ("apple", "banana", "cherry")
tuple3 = (1, "hello", 3.14)
repeated_tuple = tuple1 * 3
print(len(tuple1)) 
print(2 in tuple1) 
print("orange" in tuple2)